/* Color & Fonts */

@import "../fonts/font.css";
html,
:root {
  --main-color: #80298f;
  --secondary-color-yellow: #fdd245;
  --secondary-color-red: #ed2961;
  --main-title-ar-font: "GE SS Text B";
  --main-body-ar-font: "Akhbar MT";
}

.text-header {
  font-family: var(--main-title-ar-font);
}

.text-body {
  font-family: var(--main-body-ar-font), Helvetica, sans-serif;
  font-size: 1.7em;
  line-height: 1.7em;
}

.img-cover-main {
  background-image: url(../images/c2.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.background-title {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-title1 {
  background-image: url(../images/O2.jpg);
}
.background-title2{
  background-image: url(../images/تعديل\ 2.jpg);
}
.background-title3{
  background-image: url(../images/O1-1.jpg);
}
.background-title4{
  background-image: url(../images/O3.jpg);
}
.background-title5{
  background-image: url(../images/Ot2.jpg);
}
.logo {
  width: auto;
  height: 66px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background-color: var(--main-color); */
  opacity: 0.8;
}

.secondary-color-yellow {
  color: var(--secondary-color-yellow);
}
.dir-rtl {
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}
